{%- macro url(destination) -%}
{%- if destination|lower|truncate(4, True, '') == 'http' or not destination -%}
{{ destination }}
{%- elif destination|first == '/' -%}
{{ SITEURL + destination }}
{%- else -%}
{{ SITEURL + '/' + destination }}
{%- endif -%}
{%- endmacro -%}
<!doctype html>
<html lang="{{ DEFAULT_LANG }}">

<head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-805TK7MTRE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-805TK7MTRE');
</script>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% block title %}| {{ SITENAME }}{% endblock %}</title>
  <link rel="canonical" href="{{ SITEURL }}/{{ output_file }}">

    <link rel="apple-touch-icon" href="{{ SITEURL }}/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" type="image/png" href="{{ SITEURL }}/theme/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ SITEURL }}/theme/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ SITEURL }}/manifest.json">
    <meta name="theme-color" content="#333333">

  <link rel="stylesheet" href="{{ url(BOOTSTRAP_CSS) }}">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/theme.css">
  {% for stylesheet in THEME_CSS_OVERRIDES or () %}
  <link rel="stylesheet" href="{{ url(stylesheet) }}">
  {% endfor %}

  {% include 'include/xml_feeds.html' %}
  {% block head %}{% endblock %}
  {% include 'include/analytics.html' %}
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-white bg-white">
    <div class="container">
      <div class="navbar-brand">
        <a href="{{ SITEURL }}/" class="text-decoration-none">
          <img width="80px" src="{{ url(SITEIMAGE) }}" alt="{{ SITENAME }}">
        </a>  
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          {%for page in pages%}
          <li class="nav-item">
            <a href="{{SITE_NAME}}/{{page.url}}" class="nav-link">{{page.title}}</a>
          </li>
          {%endfor%}
        </ul>
      </div>
    </div>
  </nav>
  <header class="header">
    <div class="container h-100">
      <div class="row align-items-center h-100">
        <div class="col-sm-10">
          {% block page_title %}{% endblock page_title %}
        </div>
    </div>
  </div>
</header>

  <div class="main">
    <div class="container">
      <span class="text-muted text-uppercase">{%block sub_header%}{%endblock%}</span>
      <h1 class="display-4 mt-3">{% block page_header %}{% endblock %}</h1>
      <div class="mb-md-4 mb-3"></div>
      {% block content %}{% endblock %}
    </div>
  </div>

  <footer class="footer pb-0">
    <div class="container">
      <div class="card mb-4">
        <div class="card-body">
          <form action="https://pythoneer.dev/sendy/subscribe" method="post" accept-charset="utf-8">
            <label for="newsletter" class="form-label fs-4">Want to learn python? 💻</label>
            <p class="text-muted">
             Helpful python tips directly in your inbox 🔥
            </p>
            <div class="mb-3">
              <input type="email" class="form-control" name="email" placeholder="Email Address">
            </div>
            <input type="hidden" name="list" value="Bb5KQVaGFx1fw0h6N4tWbw"/>
	          <input type="hidden" name="subform" value="yes"/>
            <button type="submit" class="btn btn-success btn-lg">Subscribe</button>
          </form>
        </div>
      </div>
    </div>
    {% include 'include/footer.html' %}
  </footer>

  {% for script in THEME_JS_OVERRIDES or () %}
  <script type="text/javascript" src="{{ url(script) }}" crossorigin="anonymous"></script>
  {% endfor %}
</body>

</html>
